.logout-container {
  display: inline-block; /* Align with other nav items */
}

.logout-container button {
  color: rgb(176, 175, 175);
  background-color: transparent;
  border: 1px solid rgb(24, 24, 24);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.logout-container button:hover {
  color: white;
  background-color: rgb(42, 42, 42);
  cursor: pointer;
}
