@media (min-width: 768px) {
  .page-container {
    display: flex;
  }

  .products-container {
    flex-grow: 1;
  }
}
/* ProductListing.css */
.separator {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}
