.main {
    width: 100%;
    padding: 20px;
   box-sizing: border-box;
   
  }
  .sub-div {
 
   width:17%;
    padding: 15px;
    margin-top: 10px;
   display: inline-block;
   background-color: rgb(173, 248, 208);
  }
  .colorful-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .sub-div > div {
    background-color: rgb(106, 166, 221);
    border: 2px solid rgb(39, 5, 174);
    padding: 10px;
    margin: 5px;
  }
  .scroll-div > div {
    background-color: rgb(106, 166, 221);
    border: 2px solid rgb(39, 5, 174);
    padding: 10px;
    margin: 5px;
  }
  .scroll-div{
    height: 190px;
    overflow: hidden;
    overflow-y: scroll;

  }